.header {
    width: 100%;
    padding-left: 2%;
    display: flex;
    align-items: center;

    .Logo {
        img{
            display: block;
            width: 90%;
        }
    }

    .right_button {
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 4%;
        font-size: 20px;

        a {
            margin-right: 0.5rem;
        }

        .icon {
            margin-right: 0.5rem;
        }
        
        .signin {
            color: inherit;
            text-decoration: none;
        }
    }
}